.featured{
    border-radius: 5px;
    padding: 15px 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;

}   
.featured-header{

    margin-bottom: 15px;
}
.featured-header strong{
    font-size: 20px;
}
.featured .player{
    background-image: url('/assets/images/featured_player/featured-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.player .player-info{
    display: flex;
    flex-direction: column;
    color: #fff;
}
.player .player-info strong{
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 5px;
}
.player .player-info p{
    display: flex;
    justify-content:center;
    align-items: center;
}
.player .player-info p span{
    font-size: 15px;
    text-shadow:-3px 3px 3px #fff ;
}
.featured .player .flag-img{
    width: 30px;
    height: 20px;
    margin-right: 10px;
}
.featured .player .player-img img{
    width: 120px;
}

.featured .stats .stat-item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.featured .stats .stat-item span,
.featured .stats .stat-item strong{
    font-size: 14px;
}
.featured .stats .stat-item strong{
    color: #37003c;
}
.featured .stats .club p{
    margin: 0;
}
.featured .stats .club img{
    width: 20px;
    height: 20px;
}